<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <meta name="description" content="这里是本网站描述">
    <meta name="keywords" content="这里是seo关键词,用逗号间隔">
    <meta name="copyright" content="本页版权">
    <link rel="icon" href="{% static 'assets/images/icon/loveFamily.ico' %}" type="image/x-icon">
    {% block css %}
    {% endblock %}
    <!-- <link rel="stylesheet/less" type="text/css" href="../assets/css/page/index.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.10.0-beta/less.min.js"></script> -->
</head>
<body>
<div class="container">
    <div class="header" data-href="/index/">
        <div class="top">
            <img src="{% static 'assets/images/icon.png' %}" alt="" class="icon toIndex">
            <h1 class="toIndex">Love Family Online Shop</h1>
            <div class="top-right">
                <div class="language hasHover">
                    <!-- class:spread -->
                    <a href="javascript:(0)" class="notJump name">Language<span></span></a>
                    <div class="ul">
                        <a href="" class="li">简体中文</a>
                        <a href="" class="li current">English</a>
                    </div>
                </div>


                {% if user %}
                    <a href="/orders/" class="toNotice"><span>{{ order_quantity }}</span></a>
                    <a href="/carts/" class="toShoppingCart"><span>{{ cart_quantity }}</span></a>
                    <div class="user hasHover">
                        <a href="javascript:(0)" class="name">{{ user.username }}<span></span></a>
                        <div class="ul">
                            <a href="/account/" class="li">My Setting</a>
                            <a href="javascript:(0)" class="li logout">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="javascript:(0)" class="toLog">Login In</a>
                    <a href="/account/signup/" class="toReg">Sign Up</a>
                {% endif %}

                <div class="loginDiv">
                    <input type="text" class="name" placeholder="Email or Phone number">
                    <input type="password" class="password" placeholder="Password">
                    <p>The email or phone number you’ve entered doesn’t match any account. Sign up for an account</p>
                    <div class="submit">Log In</div>
                </div>

            </div>
        </div>
        <div class="hr"></div>
        {% block menu %}
            {% include 'menu.html' %}
        {% endblock %}

    </div>

    {% block hr %}{% endblock %}
    {% block index_image %}{% endblock %}

    {% block content %}
    {% endblock %}
</div>

{% block bottom %}
{% endblock %}

<script src="{% static 'assets/javascript/libs/jquery-1.9.1.js' %}"></script>
<script src="{% static 'assets/javascript/common/base.js' %}"></script>
<script src="{% static 'assets/javascript/common/header.js' %}"></script>
{% block js %}{% endblock %}

</body>
</html>
