{% extends 'base.html' %}
{% load static %}

{% block title %}
    商品名称
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/detail.css' %}" />
{% endblock %}

{% block hr %}
   <div class="hr"></div>
{% endblock %}

{% block content %}
    <div class="detailContainer">
        <div class="back"><span class="goBack"></span>{{ goods.name }}</div>
        <div class="information">
            <div class="pics">
                <ul class="roll">
                    {% for image in goods.images  %}
                        <img class="rollPic" src="{{ image }}" alt="">
                    {% endfor %}
                </ul>
                <div class="prev"></div>
                <div class="next"></div>

            </div>

            <div class="infors">
                <h2>{{ goods.name }}</h2>
                {% ifnotequal goods.origin_price 0%}
                <p class="oriPrice">Price:&nbsp;$&nbsp; <span onclick="oriP">{{ goods.origin_price }}</span><span class="line"></span></p>
                {% endifnotequal %}
                <p class="realPrice">
                    Online Price:&nbsp;$&nbsp;<span class="realP">{{ goods.on_price }}</span>
                    <span class="quantity">
                        Quantity:
                        <input type="number" class="count" value="1">
                        <span class="changeCount">
                            <span class="add"></span>
                            <span class="sub"></span>
                        </span>
                    </span>
                </p>
                <p class="dec">{{ goods.description }}</p>
            </div>
        </div>
        <div class="customDiv"></div>
    </div>
{% endblock %}

{% block bottom %}
    <div class="todo">
        <div class="mainContent">
            <span class="addCart" data-id="{{goods.id}}"><span></span>Add to cart</span>
            <span class="buyNow" data-href="/orders/address/"><span></span>Buy Now</span>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/javascript/page/detail.js' %}"></script>
{% endblock %}




