{% extends 'base.html' %}
{% load static %}

{% block title %}
    Love Family Online Shop
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/paySucess.css' %}"/>
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="contentContainer">
        <div class="noContent">
            {% static 'assets/images/forbidPay.png' %}"
            <p>We will arrange the delivery for you as soon as possible ~</p>
            <div class="buttons">
                <a href="">Back order</a>
            </div>
        </div>
    </div>
{% endblock %}


<style type="text/css">
    .noContent p {
        color: #333;
        margin-bottom: 100px;
    }
</style>
