{% extends 'base.html' %}
{% load static %}

{% block title %}
    Love Family Online Shop
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/index.css' %}" />
{% endblock %}

{% block hr %}
    <div class="hr"></div>
{% endblock %}

{% block content %}
    <div class="contentContainer">
        <div class="kinds">
            {% if current_category.super_category.id %}
                <a href="/goods/category/{{ current_category.super_category.id }}">{{ current_category.super_category.name }}</a>
                <span></span>
            {% endif %}

            <a href="/goods/category/{{ current_category.category.id }}">{{ current_category.category.name }}</a>
        </div>
        <div class="content">
            {% include 'goods_block.html' %}
            <div class="moreKinds" data-categoryid="{{ current_category.category.id }}">MORE</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/javascript/page/index.js' %}"></script>
{% endblock %}
