{% for single_goods in goods %}
    <a href="/goods/{{ single_goods.id }}/" class="goods">
        <img src={{ single_goods.image }} alt="">
        <div class="infor">
            <p class="name">
                <span class="realName"><span class="nameSpan">{{ single_goods.name }}</span>{% if single_goods.is_new %}
                    <i class="new"></i>{% endif %}{% if single_goods.is_hot %}
                    <i class="hot"></i>{% endif %}</span></span>
                <span class="toCart" data-id="{{ single_goods.id }}">Add to cart</span>
            </p>
            <p class="price">
                <span class="unit">$</span>{{ single_goods.price }}
                <span class="toBuy" data-id="{{ single_goods.id }}">Buy Now</span>
            </p>
        </div>
    </a>
{% endfor %}