{% extends 'base.html' %}
{% load static %}

{% block title %}
    Love Family Online Shop
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/index.css' %}"/>
{% endblock %}


{% block index_image %}
    <img src="{% static 'assets/images/banner.png' %}" alt="banner" class="banner">
{% endblock %}


{% block content %}
    <div class="contentContainer">
        <ul class="type">
            <li class="current" data-type="hot">Hot</li>
            <li data-type="new">New</li>
        </ul>
        <div class="content">
            {% include 'goods_block.html' %}
            {% if more %}
                <div class="more">MORE</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
    	<p class="line1">
    		<span class="span"><span class="sh"></span>Service Hotline&nbsp:&nbsp;&nbsp;05914-24556465</span>
    		<span class="span"><span class="pb"></span>Powered By : LOVE FAMILY TRADING PTY LTD</span>
    	</p>
    	<p class="line2">
    		<span class="span"></span>
    		<span class="span"><span class="sby"></span>Supported By : Weigan Technology LTD</span>	
    	</p>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'assets/javascript/page/index.js' %}"></script>
{% endblock %}
