{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Account
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/register.css' %}"/>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="registerContainer myAccountContainer">
    <ul class="type">
        <li class="current">My Account</li>
        <!-- <li class="current">My Account</li> -->
    </ul>
    <div class="baseInfor">

        <p class="user">
            <span>Username</span>
            <input type="text" value="{{ user.username }}" readonly="readonly">
            <span class="star"></span>
            <span class="tips"></span>
        </p>
        <p class="email">
            <span>Email</span>
            <input type="text" value="{{ user.email }}" readonly="readonly">
            <span class="star"></span>
            <span class="tips"></span>
        </p>
        <p class="phone">
            <span>Phone</span>
            <input type="text" value="{{ user.phone }}" readonly="readonly">
            <span class="star"></span>
            <span class="tips"></span>
        </p>
        <p class="pass">
            <span>Password</span>
            <input type="password" value="{% if user.password %}111111{% endif %}" readonly="readonly">
            <span class="star"></span>
            <span class="tips"></span>
        </p>
        <p class="repass">
            <span>Re-Password</span>
            <input type="password" value="{% if user.password %}111111{% endif %}" readonly="readonly">
            <span class="star"></span>
            <span class="tips"></span>
        </p>
        <p class="signUp">
            <span></span>
            <span class="submit toSubmit">Edit</span>
        </p>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/javascript/page/myAccount.js' %}"></script>
{% endblock %}
