{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Account
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/assets/css/page/register.css"/>
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.10.0-beta/less.min.js"></script>#}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="registerContainer myAccountContainer">
        <ul class="type">
            <li class="current">My Account</li>
            <!-- <li class="current">My Account</li> -->
        </ul>
        <div class="addressContent">
            <p class="fullName">
                <span>Full name</span>
                <input type="text" value="{{ useraddress.name }}" readonly="readonly">
            </p>
            <p class="addressLine1">
                <span>Address Line1</span>
                <input type="text" value="{{ useraddress.road }}" readonly="readonly">
            </p>
            <p class="addressLine2">
                <span>Address Line2</span>
                <input type="text" value="{{ useraddress.district }}" readonly="readonly">
            </p>
            <p class="city">
                <span>City</span>
                <input type="text" value="{{ useraddress.city }}" readonly="readonly">
            </p>
            <p class="province">
                <span class="state">State/Province/<br>Region</span>
                <input type="text" value="{{ useraddress.province }}" readonly="readonly">
            </p>
            <p class="zip">
                <span>ZIP</span>
                <input type="text" value="{{ useraddress.postcode }}" readonly="readonly">
            </p>
            <p class="phoneNum">
                <span>Phone number</span>
                <input type="text" value="{{ useraddress.phone_number }}" readonly="readonly">
            </p>
            <p class="signUp">
                <span></span>
                <span class="submit toSubmit">Edit</span>
            </p>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/javascript/page/myAddress.js' %}"></script>
{% endblock %}





