{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Cart
{% endblock %}

{% block css %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'assets/css/page/myCart.less' %}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.10.0-beta/less.min.js"></script>
{% endblock %}

{% block hr %}
    <div class="hr"></div>
{% endblock %}

{% block content %}
    <div class="myCartContainer">
        <ul class="type">
            <li class="current">My Cart</li>
        </ul>
        <div class="content">
            {% for cart in carts_list %}
                <div class="cartGoods toBuyIt" data-id="{{ cart.id }}">
                    <a href="/goods/{{ cart.goods_id }}" class="linkImg">
                        <img src="{{ cart.image }}" alt="">
                    </a>
                    <div class="infors">
                        <p class="name">{{ cart.name }}</p>
                        <p class="dec">{{ cart.description }}</p>
                        <p class="price">Price:&nbsp;$&nbsp;<span>{{ cart.price }}</span></p>
                        <p class="quantity">
                            Quantity:
                            <input type="number" class="count" value="{{ cart.quantity }}">
                            <span class="changeCount">
                                <span class="add"></span>
                                <span class="sub"></span>
                            </span>
                        </p>
                    </div>
                    <div class="actions">
                        <div class="checkOrNot checked"></div>
                        <div class="remove">Remove</div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="total">
            <p class="totalPrice">Sum:&nbsp;$&nbsp;<span>{{ sum }}</span></p>
            <div class="buyNow">Buy Now</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/javascript/page/myCart.js' %}"></script>
{% endblock %}
