{% extends 'base.html' %}
{% load static %}

{% block title %}
    my Orders
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/assets/css/page/myOrders.css"/>
    {#    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.10.0-beta/less.min.js"></script>#}
{% endblock %}

{% block content %}
    <div class="myOrdersContainer">
        <ul class="type">
            <li class="current">My Orders</li>
        </ul>
        <div class="content">
            <div class="ul">
                {% ifequal status '' %}
                    <a href="http://10.168.2.111:8000/orders/" class="all current" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered" data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished" data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed" data-type="4">Closed</a>
                {% endifequal %}
                {% ifequal status 1 %}
                    <a href="http://10.168.2.111:8000/orders/" class="all" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered current"
                       data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished" data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed" data-type="4">Closed</a>
                {% endifequal %}
                {% ifequal status 2 %}
                    <a href="http://10.168.2.111:8000/orders/" class="all" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered" data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering current" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished" data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed" data-type="4">Closed</a>
                {% endifequal %}
                {% ifequal status 3 %}
                    <a href="http://10.168.2.111:8000/orders/" class="all" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered" data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished current"
                       data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed" data-type="4">Closed</a>
                {% endifequal %}
                {% ifequal status 4 %}
                    <a href="http://10.168.2.111:8000/orders/" class="all" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered" data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished" data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed current" data-type="4">Closed</a>
                {% endifequal %}
                <label>
                    <input type="text" placeholder="2019/01/01 to 2019/10/01" class="toSearchOrders">
                </label><span class="searchPic"></span>
            </div>
            {% for order in order_dic %}
                <div class="orderList">
                    {% if forloop.first %}
                        <h3 class="spread">
                            <span class="order">Order No:<span>{{ order.order_no }}</span></span>
                            <span class="date">Date:<span>{{ order.order_date }}</span></span>
                            <span class="total">Toatal:<span>{{ order.total }}</span></span>
                            <span class="status">Status:<span class={{ 0 }}>{{ order.status }}</span></span>
                            <i></i>
                        </h3>
                    {% else %}
                        <h3 class="">
                            <span class="order">Order No:<span>{{ order.order_no }}</span></span>
                            <span class="date">Date:<span>{{ order.order_date }}</span></span>
                            <span class="total">Toatal:<span>{{ order.total }}</span></span>
                            <span class="status">Status:<span
                                    class={{ order.status|lower }}>{{ order.status }}</span></span>
                            <i></i>
                        </h3>
                    {% endif %}
                    {% if forloop.first and good_dic != '' %}
                        {% include 'orderDetail.html' %}
                    {% endif %}
                </div>
            {% endfor %}
            {% ifequal  next_page 1 %}
                <div class="more">MORE</div>
            {% endifequal %}
        </div>
    </div>
{% endblock %}

{% block js %}
    "{% static 'assets/javascript/page/myOrders.js' %}"
{% endblock %}


