{% extends 'base.html' %}
{% load static %}

{% block title %}
    my Orders
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/assets/css/page/myOrders.css"/>
    {#    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.10.0-beta/less.min.js"></script>#}
{% endblock %}

{% block content %}
    <div class="myOrdersContainer">
        <ul class="type">
            <li class="current">My Orders</li>
        </ul>
        <div class="content">
            <div class="ul">
                {% ifequal status '' %}
                    <a href="http://10.168.2.111:8000/orders/" class="all current" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered" data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished" data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed" data-type="4">Closed</a>
                {% endifequal %}
                {% ifequal status 1 %}
                    <a href="http://10.168.2.111:8000/orders/" class="all" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered current"
                       data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished" data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed" data-type="4">Closed</a>
                {% endifequal %}
                {% ifequal status 2 %}
                    <a href="http://10.168.2.111:8000/orders/" class="all" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered" data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering current" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished" data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed" data-type="4">Closed</a>
                {% endifequal %}
                {% ifequal status 3 %}
                    <a href="http://10.168.2.111:8000/orders/" class="all" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered" data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished current"
                       data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed" data-type="4">Closed</a>
                {% endifequal %}
                {% ifequal status 4 %}
                    <a href="http://10.168.2.111:8000/orders/" class="all" data-type="">All</a>
                    <a href="http://10.168.2.111:8000/orders/?status=1" class="ordered" data-type="1">Ordered</a>
                    <a href="http://10.168.2.111:8000/orders/?status=2" class="delivering" data-type="2">Delivering</a>
                    <a href="http://10.168.2.111:8000/orders/?status=3" class="finished" data-type="3">Finished</a>
                    <a href="http://10.168.2.111:8000/orders/?status=4" class="closed current" data-type="4">Closed</a>
                {% endifequal %}
            </div>
            {% include 'orderBlock.html' %}
            <div class="more">MORE</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    "{% static 'assets/javascript/page/myOrders.js' %}"
{% endblock %}


