{% for order in order_dic %}
    <div class="orderList">
        {% if forloop.first %}
            <h3 class="spread">
                <span class="order">Order No:<span>{{ order.order_no }}</span></span>
                <span class="date">Date:<span>{{ order.order_date }}</span></span>
                <span class="total">Toatal:<span>{{ order.total }}</span></span>
                <span class="status">Status:<span class={{ order.status|lower }}>{{ order.status }}</span></span>
                <i></i>
            </h3>
        {% else %}
            <h3 class="">
                <span class="order">Order No:<span>{{ order.order_no }}</span></span>
                <span class="date">Date:<span>{{ order.order_date }}</span></span>
                <span class="total">Toatal:<span>{{ order.total }}</span></span>
                <span class="status">Status:<span class={{ order.status|lower }}>{{ order.status }}</span></span>
                <i></i>
            </h3>
        {% endif %}
        {% if forloop.first and good_dic != '' %}
            {% include 'orderDetail.html' %}
        {% endif %}
    </div>
{% endfor %}