{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Order
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/myOrder.css' %}"/>
{% endblock %}


{% block content %}
    <div class="myOrderContainer" data-cart={{ is_cart }}>
    <div class="back"><span class="goBack"></span>My Order</div>


    <!-- 有地址时直接显示地址（此模块一直存在）,不显示时添加“hidden”------------begin -->
    <div class="readAddress">
        <h4>Shipping Address</h4>
        <div class="addressContent">
            <p class="fullName">{{ user_info.name }}</p>
            <p class="addressLine1">{{ user_info.road }}</p>
            <p class="addressLine2">{{ user_info.district }}</p>
            <p class="state">
                <span class="city">{{ user_info.city }}</span>,
                <span class="province">{{ user_info.province }}</span>&nbsp;&nbsp;
                <span class="zip">{{ user_info.postcode }}</span></p>
            <p class="phoneNum">Phone:<span>{{ user_info.phone_number }}</span></p>
        </div>
    </div>

    <div class="orderLines">
        <h3>OrderLine</h3>
        <div class="content">
            {% for good in good_dict %}
                <div class="cartGoods toBuyIt" data-id={{ good.id }} data-count={{ good.quantity }}>
                    <a href="/goods/{{ good.id }}" class="linkImg">
                        <img src={{ good.image }} alt="">
                    </a>
                    <div class="infors">
                        <p class="name">{{ good.name_en }}</p>
                        <p class="price">Price:&nbsp;$&nbsp;<span>{{ good.price }}</span></p>
                        <p class="quantity">
                            Quantity:<span>{{ good.quantity }}</span>
                        </p>
                        <p class="dec">{{ good.description_en|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block bottom %}
    <div class="toContinue">
        <div class="mainContent">
            <div>
                <p class="totalPrice">Sum:&nbsp;$&nbsp;<span>{{ total }}</span></p>
                <!-- 已经有默认地址的时候class="continue goBuy",没有默认地址的时候显示class="continue" -->
                {% ifequal status 1 %}
                <div class="continue goBuy">Pay</div>
                {% endifequal %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/javascript/page/myOrder.js' %}"></script>
{% endblock %}