{% ifnotequal good_dic '' %}
    <div class="details">
        {% for good in good_dic %}
            <a href="/orders/{{ order_no }}/" class="listDetail">
                <img src={{ good.image }} alt="">
                <div class="infors">
                    <h4>{{ good.name_en }}</h4>
                    <p class="num">
                        <span class="price">Price:&nbsp;$&nbsp;<span>{{ good.price }}</span></span>
                        <span class="quantity">Quantity:<span>{{ good.quantity }}</span></span>
                    </p>
                    <p class="desc">
                        {{ good.description_en|safe }}
                    </p>
                </div>
            </a>

        {% endfor %}
    </div>
{% else %}
{% endifnotequal %}
