{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pay for your order
{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/payOrder.css' %}"/>
{% endblock %}

{% block content %}
    <div class="payOrderContainer">
        <div class="back"><span class="goBack"></span>Pay for your order</div>
        <div class="cartContent">
            <h1>Show me the money!</h1>
            <div>
                {{ content|safe }}
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/assets/javascript/page/payOrder.js"></script>
{% endblock %}
