{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pay for your order
{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/paySucess.css' %}"/>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="contentContainer payContainer">
        <div class="noContent">
            <img src="{% static 'assets/images/pay.png' %}" alt="">
            <div class="price">$&nbsp;{{ total }}</div>
            <p>You need to pay</p>
            <div>
                {{ content|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/assets/javascript/page/payOrder.js"></script>
{% endblock %}
