{% extends 'base.html' %}
{% load static %}

{% block title %}
    Love Family Online Shop
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/page/paySucess.css' %}"/>
{% endblock %}

<!-- v3.00新增页面 -->
{% block content %}
    <div class="contentContainer">

        <div class="noContent">
            <img src="{% static 'assets/images/success.png' %}" alt="">
            <div class="succ">Pay for success</div>
            <p>We will arrange the delivery for you as soon as possible ~</p>
            <div class="buttons">
                <a href="" class="toOrders">View order</a>
                <a href="">Continue shopping</a>
            </div>
        </div>
    </div>
{% endblock %}


