{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sign Up
{% endblock %}

{% block css %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'assets/css/page/register.less' %}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.10.0-beta/less.min.js"></script>
{% endblock %}

{% block hr %}
    <div class="hr"></div>
{% endblock %}

{% block content %}
    <div class="registerContainer">
        <ul class="type">
            <li class="current">Sign Up</li>
            <!-- <li class="current">My Account</li> -->
        </ul>
        <div class="baseInfor">
            <p class="name">
                <span>Username</span>
                <input type="text">
                <span class="star"></span>
                <span class="tips"></span>
            </p>
            <p class="email">
                <span>Email</span>
                <input type="text">
                <span class="star"></span>
                <span class="tips"></span>
            </p>
            <p class="phone">
                <span>Phone</span>
                <input type="text">
                <span class="star"></span>
                <span class="tips"></span>
            </p>
            <p class="pass">
                <span>Password</span>
                <input type="text">
                <span class="star"></span>
                <span class="tips"></span>
            </p>
            <p class="repass">
                <span>Re-Password</span>
                <input type="text">
                <span class="star"></span>
                <span class="tips"></span>
            </p>
        </div>
        <div class="hr"></div>
        <div class="addressContent">
            <p class="fullName"><span>Full name</span><input type="text"></p>
            <p class="addressLine1"><span>Address Line1</span><input type="text"></p>
            <p class="addressLine2"><span>Address Line2</span><input type="text"></p>
            <p class="city"><span>City</span><input type="text"></p>
            <p class="province"><span class="state">State/Province/<br>Region</span><input type="text"></p>
            <p class="zip"><span>ZIP</span><input type="text"></p>
            <p class="phoneNum"><span>Phone number</span><input type="text"></p>
            <p class="signUp"><span></span><span class="submit toSubmit">Sign up</span></p>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'assets/javascript/page/register.js' %}"></script>
{% endblock %}


