@import "../common/base.less";
.banner{
	width: 100%;
	height: auto;
	min-width: 1200px;
}
.contentContainer{
	width: 1160px;
	margin: 0 auto;
	.type{
		padding-left: 20px;
		li{
			display: inline-block;
			font-size:18px;
			font-family:HelveticaNeue-LightItalic,HelveticaNeue;
			font-weight:normal;
			color:rgba(0,0,0,1);
			line-height:22px;
			margin-right: 50px;
			height: 65px;
			line-height: 75px;
			font-style: italic;
		}
		li:hover{
	     cursor: pointer;
        }
		.current{
			font-size:18px;
			font-family:HelveticaNeue-MediumItalic,HelveticaNeue;
			font-weight:bold;
			position: relative;
		}
		.current:after{
			content:"";
			position: absolute;
			width: 20px;
			height: 1px;
			background: #a23700;
			bottom: 3px;
			left: 50%;
			margin-left: -10px;
		}
		.current:before{
			content: "";
			position: absolute;
			width: 40px;
			height: 1px;
			background: #a23700;
			bottom: 0px;
			left: 50%;
			margin-left: -20px;
		}
	}
	.content{
		.goods{
			display: inline-block;
			width: 344px;
			height: 320px;
			background:rgba(255,255,255,1);
			box-shadow:0px 2px 5px 0px rgba(0,0,0,0.2);
			border-radius:10px;
			margin: 15px 20px;
			position: relative;
			img{
				width: 344px;
				height: 252;
				display: block;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			.infor{
				padding: 15px 20px;
				position: absolute;
				width: 304px;
				.name{
					height:18px;
					font-size:14px;
					font-family:HelveticaNeue;
					color:rgba(0,0,0,1);
					line-height:18px;
					margin-bottom: 6px;
					.toCart{
						display: inline-block;
						width:72px;
						height:18px;
						border-radius:5px;
						border:1px solid rgba(162,55,0,1);
						font-size:12px;
						font-family:HelveticaNeue;
						color:rgba(162,55,0,1);
						line-height:17px;
						float: right;
						text-align: center;
					}
				}
				.price{
					font-size: 16px;
					font-weight: bold;
					color:#ff0000;
					height: 18px;
					line-height: 18px;
					font-weight: bold;
					
					.unit{
						font-size: 12px;
						color:#000;
						margin-right: 4px;
					     font-weight: normal;
						 font-weight: bold;
						 position: relative;
						 bottom: 2px;
					}
					
	
					.toBuy{
						display: inline-block;
						width:72px;
						height:18px;
						background:rgba(254,112,116,1);
						border-radius:5px;
						font-size:12px;
						font-family:HelveticaNeue;
						color:rgba(255,255,255,1);
						line-height:17px;
						float: right;
						text-align: center;
						font-weight: normal;
					}
				}
			}
		}
		
	}
}
.more{
	width:48px;
	height:22px;
	font-size:16px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(162,55,0,1);
	line-height:22px;
	padding: 5px 10px;
	border-top: 1px solid #a23700;
	border-bottom: 1px solid #a23700;
	margin: 40px auto;
}
.more:hover{
	 cursor: pointer;
}